# This KDL template is formatted to match the `usage` tool as detailed here: https://sr.ht/~jdx/usage/

name "covademo"
bin "covademo"
about "A demo of the Cova command line argument parser."
version "0.10.2"
author "00JCIV00"

flag "-s,--string" help="A string option. (Can be given up to 4 times.)"
flag "-i,--int" help="An integer option. (Can be given up to 10 times.)"
flag "-f,--float" help="An float option. (Can be given up to 10 times.)"
flag "-F,--file" help="A filepath option."
flag "-o,--ordinal" help="An ordinal number option."
flag "-c,--cardinal" help="A cardinal number option."
flag "-t,--toggle" help="A toggle/boolean option."
flag "-b,--bool" help="A toggle/boolean option."
flag "-v,--verbosity" help="Set the CovaDemo verbosity level. (WIP)"

arg "cmd_str" help="A string value for the command."
arg "cmd_bool" help="A boolean value for the command."
arg "cmd_u64" help="A u64 value for the command."

cmd "sub-cmd" help="A demo sub command." {
    alias "alias-cmd"
    alias "test-alias"

    flag "-i," help="A nested integer option."
    flag "-s,--nested_str" help="A nested string option."

    arg "nested_str_val" help="A nested string value."
    arg "nested_float_val" help="A nested float value."
}

cmd "basic" help="The most basic Command." {
    alias "basic-cmd"
}

cmd "nest-1" help="Nested Level 1." {
    cmd "nest-2" help="Nested Level 2." {
        cmd "nest-3" help="Nested Level 3." {
            flag "-i,--inheritable" help="Inheritable Option"
            cmd "nest-4" help="Nested Level 4."
        }
    }
}

cmd "struct-cmd" help="A demo sub command made from a struct." {
    flag "-i,--int" help="The first Integer Value for the struct-cmd."
    flag "-s,--str" help="The 'str' Option."
    flag "-S,--str2" help="The 'str2' Option."
    flag "-f,--flt" help="The 'flt' Option."
    flag "-I,--int2" help="The 'int2' Option."
    flag "-m,--multi-int" help="The 'multi-int' Value."
    flag "-M,--multi-str" help="The 'multi-str' Value."
    flag "-r,--rgb-enum" help="The 'rgb-enum' Option."
    flag "-t,--struct-bool" help="The 'struct_bool' Option of type 'toggle'."
    flag "-T,--struct-str" help="The 'struct_str' Option of type 'text'."
    flag "-R,--struct-int" help="The 'struct_int' Option of type 'i64'."

    arg "multi-int-val" help="The 'multi-int-val' Value."

    cmd "inner-cmd" help="An inner/nested command for struct-cmd" {
        flag "-i,--in-bool" help="The 'in_bool' Option of type 'toggle'."
        flag "-I,--in-float" help="The 'in_float' Option of type 'f32'."
        flag "-H,--h-string" help="The 'h_string' Option of type 'text'."
    }
}

cmd "union-cmd" help="A demo sub command made from a union." {
    flag "-i,--int" help="The first Integer Value for the union-cmd."
    flag "-s,--str" help="The first String Value for the union-cmd."

    arg "union-uint" help="The 'union-uint' Value."
    arg "union-str" help="The 'union-str' Value."
}

cmd "fn-cmd" help="A demo sub command made from a function." {
    arg "int" help="The first Integer Value for the fn-cmd."
    arg "string" help="The first String Value for the fn-cmd."
    arg "byte_array" help="A 6-Byte Array for fn-cmd"
}

cmd "add-user" help="A demo sub command for adding a user." {
    flag "-f,--fname" help="The 'fname' Option."
    flag "-l,--lname" help="The 'lname' Option."
    flag "-a,--age" help="The 'age' Option."
    flag "-A,--admin" help="The 'admin' Option."
    flag "-r,--ref-ids" help="The 'ref-ids' Value."

    arg "id" help="The 'id' Value."
}
